
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h2 style="color:forestgreen; font-weight:bold ">Đơn hàng của quý khách đã được ghi nhận.</h2>
    <h2 style="color:forestgreen; font-weight:bold">Chúng tối sẽ liên hệ quý khách trong thời gian sớm nhất!</h2>



    @*<a href="~/Home"><img src="~/didong/img/thankyou-1024x538.png" width="900" /></a>*@
    <br />
    <br />
</div>
