
@{
    ViewBag.Title = "PsneakerP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="~/Admin">Home</a>
        <i class="icon-angle-right"></i>
        <i>Trang quản lý cửa hàng</i>
    </li>
</ul>

<div style="text-align:center">
    <h2 style="color:blue; font-weight:bold">Đây là trang quản trị của cửa hàng PSneakerP</h2>
    @*<img src="~/didong/img/say-hello.jpg" />*@
</div>